/* NAVBAR CSS */

html {
    scroll-behavior: smooth;
}

.navbar-brand {
    /* logo */
    position: absolute;
    width: 100px;
    height: 34px;
    left: 136px;
    top: 25px;
    /* Primary/DarkBlue/04 */
    background: #0D28A6;
}

.navbar-nav {
    /* FONT */
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* POSITION */
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: 440px;
    height: 36px;
    left: 864px;
    top: 24px;
    padding-right: 32px;
    padding-left: 32px;
}

.navbar-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    font-family: Helvetica;
    font-size: 14px;
    background: #5CB85F;
    border-radius: 2px;
    color: #FFFFFF;
}


/* HEADER HERO CSS */

.jumbotron {
    padding: 0rem 1rem;
    margin-top: -18px;
    background-color: #F1F3FF;
    height: 500px;
    left: 0px;
    top: 0px;
    background-image: url("image/img_car.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 604px 350px;
}

.jumbotron-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    position: absolute;
    width: 140px;
    height: 36px;
    left: 136px;
    top: 377px;
    /* Primary/LimeGreen/04 */
    background: #5CB85F;
    border-radius: 2px;
    /* Teks */
    font-family: Helvetica;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.btn {
    /* Body/14/Bold */
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    /* Neutral/10 */
    color: #FFFFFF;
}

.jumbotron2 {
    overflow-x: hidden;
    background-color: transparent;
    background-image: url("image/img_service.png");
    background-position: left 206px bottom;
    background-repeat: no-repeat;
}

.jumbotron h1 {
    position: absolute;
    width: 568px;
    height: 108px;
    left: 136px;
    top: 177px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    /* or 54px */
    color: #000000;
}

.jumbotron p {
    position: absolute;
    width: 468px;
    height: 60px;
    left: 136px;
    top: 301px;
    /* Body/14/Light */
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    color: #000000;
}


/* OURSERVICE CSS */

.jumbotron2 h1 {
    position: static;
    height: 72px;
    left: 0%;
    right: 0%;
    top: 0px;
    /* Heading/24/Bold */
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    /* or 150% */
    color: #000000;
}

.jumbotron2 h2 {
    position: static;
    height: 72px;
    left: 0%;
    right: 0%;
    top: 140px;
    /* Heading/24/Bold */
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    /* or 150% */
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 140px 0px 24px 0px;
}

.jumbotron2 p {
    position: static;
    width: 468px;
    height: 60px;
    left: 0px;
    top: 0px;
    /* Body/14/Light */
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.list-group-item {
    padding: 0.5rem 0rem;
    /* Body/14/Light */
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    background: transparent;
}


/* WHY US CSS */

.whyus h3 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-left: 136px;
    margin-top: 100px;
}

.whyus p {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: static;
    width: 268px;
    height: 196px;
    /* Neutral/02 */
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 8px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 32px;
}

.card-title {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-top: 16px;
}


/* TESTIMONIAL CSS */

.testimonial h3 {
    text-align: center;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-top: 100px;
}

.testimonial p {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}


/* CAROUSEL CSS */

.swiper {
    width: 100%;
    height: 100%;
    margin-top: 40px;
}

.swiper-slide {
    text-align: left;
    font-size: 18px;
    font-family: Helvetica;
    font-style: normal;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background: #F1F3FF;
    width: 619px !important;
    height: 270px !important;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.swiper-row {
    margin-top: 69px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}


/* .swiper-button-next {
    background-image: url("image/right_button.svg") !important;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    margin-top: 1550px !important;
    margin-right: 625px !important;
} */


/* .swiper-button-prev {
    background-image: url("image/left_button.svg") !important;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    margin-top: 1550px !important;
    margin-left: 626px !important;
} */

.swiper-button-next-unique {
    background-image: url("image/right_button.svg") !important;
    background-repeat: no-repeat;
    background-position: left;
    height: 32px;
    margin-top: 24px;
}

.swiper-button-prev-unique {
    background-image: url("image/left_button.svg") !important;
    background-repeat: no-repeat;
    background-position: right;
    height: 32px;
    margin-top: 24px;
}

.alert-warning {
    color: #F9CC00;
    background-color: transparent;
    border-color: #ffeeba;
}

.testi-text {
    position: static;
    width: 415px;
    height: 80px;
    left: 0px;
    top: 24px;
    /* Body/14/Light */
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    color: #000000;
}

.testi-name {
    position: static;
    width: 415px;
    height: 80px;
    left: 0px;
    top: 24px;
    /* Body/14/Light */
    font-family: Helvetica;
    font-style: bold;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    color: #000000;
}

.card-body-swiper {
    position: absolute;
    width: 619px;
    height: 270px;
    background: #F1F3FF;
    /* Shadow/Low */
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}


/* CTA CSS */

.card-cta {
    position: absolute;
    width: 1168px;
    height: 326px;
    background: #0D28A6;
    border-radius: 13px;
}

.card-title-cta {
    margin-top: 64px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

.card-text-cta {
    margin-top: 16px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.cta-banner {
    margin-top: 100px;
}

.cta-btn {
    margin-top: 52px;
}


/* FAQ CSS */

.faq {
    margin-top: 430px;
}

.card-header .title {
    font-size: 17px;
    color: #000;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.card-header .accicon {
    float: right;
    font-size: 20px;
    width: 1.2em;
}

.card-header {
    cursor: pointer;
    border-bottom: none;
    background: #FFFFFF;
    border: 1px solid #D4D4D4;
    box-sizing: border-box;
    border-radius: 4px;
    width: 599px;
    height: 56px;
    left: 0px;
    top: 0px;
    margin-bottom: 8px;
}

.card-accordion {
    border: 0px solid #ddd;
    margin-bottom: 16px;
}

.card-body {
    border-top: 0px solid #ddd;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    padding-left: 24px;
    color: #000000;
}

.card-header:not(.collapsed) .rotate-icon {
    transform: rotate(180deg);
}


/* FOOTER CSS */

.footer-brand {
    /* logo */
    position: absolute;
    width: 100px;
    height: 34px;
    left: 15px;
    top: 41px;
    /* Primary/DarkBlue/04 */
    background: #0D28A6;
}

.small {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.list-unstyled {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.listed-feature {
    margin-top: 20px;
}

.social-icon {
    text-align: left;
}

.social-icon a {
    display: inline-block;
    text-align: center;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background: #0D28A6;
    margin-right: 16px;
}

.fa {
    margin-top: 6px;
}